.list {
  display: flex;
  max-width: calc(100% - 10px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  flex-direction: row;
  list-style: none;
  align-content: space-between;
  flex-wrap: wrap;
}

.list_item {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-size: 16px;
}

.image {
  display: inline-block;
  width: 300px;
  height: 400px;
  border-radius: 35px;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
}
